body{
    background-color: #99D3DF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: royalblue;
}
/* 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: phase 10s infinite;
    margin-top: 10vh;
 
 } */


 #notready{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 45px;
 }

 #txtarea{
    border-color: black;
 }

 #/*whyMentor{
    font-family: 'Lato', sans-serif;
 }*/

 #work{
    font-family: 'Lato', sans-serif;
    border-color: black;
 }

 #School{
    font-family: 'Lato', sans-serif;
 }

 #btnNext{
    margin-top: 2%;
    display: inline-block;
    border-radius: 15px;
    background-color: CornflowerBlue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 12px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
 }

 #btnNext span{
    cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }

 #btnNext span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#btnNext:hover span {
  padding-right: 25px;
}

#btnNext:hover span:after {
  opacity: 1;
  right: 0;
}

 #txtinterests{
  /*  display: flex;
    flex-direction: column;
    margin-top: 1vh;*/
    border-color: black;
 }


 #Interests{
    font-family: 'Lato', sans-serif;
 }

 #mentorLearn{
    font-family: 'Lato', sans-serif;
 }

 /*.txtboxes{
    border-color: black;
 }*/

 #txtSchool{
    border-color: black;
 }

/* #txtavailability{
    border-color: black;
 }*/

/* .whyMentor{
    border-color: black;
    border-width: 2.2px;
 }*/
 
 
 
 
 
 /* #headerContent{
     display: flex;
     justify-content: center;
     padding-bottom: 10px;
 } */
  
 .userContainer {
    display: flex;
    justify-content: center;
 } 
 
 label{
    font-size: 25px;
    display: flex;
    float: inherit;
 }
 
 input {
    font-size: 20px;
 }
 
 /* .inputContainer{
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
 
 
 }  */
 
 /* button {
    text-align: center;
    margin-top: 10px;
    background-color:#EDFEFF;
    font-size: 20px;
    display: flex;
    justify-content: center; 
 } */
 
 /* button:hover {
    background-color: #CDCDCD;
 } */
 
 
 
 @keyframes phase{
 100%{background-color: #88BBD6}
 75%{background-color: #99D3DF}
 50%{background-color: #89E9E9}
 25%{background-color: #99D3DF}
 0%{background-color: #88BBD6}
 }