body{
    background-color: #99D3DF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: royalblue;
}
/* 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: phase 10s infinite;
    margin-top: 10vh;
 
 } */
 
 
 
 
 /* #headerContent{
     display: flex;
     justify-content: center;
     padding-bottom: 10px;
 } */
/*  
 .userContainer {
     background-color: rgba(255, 255, 255, 0.473);
     padding: 15px;
     border-radius: 25px;
     width: 75vw;
 } */
 
 label{
    font-size: 25px;
    display: flex;
    float: inherit;
 }
 
 #genderf{
    display: flex;
 }

 input {
    font-size: 20px;
 }

 #mf{
    font-family: 'Lato', sans-serif;
 }

 #notready{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 45px;
 }

 #whyMentor{
    font-family: 'Lato', sans-serif;
 }

 #work{
    font-family: 'Lato', sans-serif;
 }

 #hours{
    font-family: 'Lato', sans-serif;
 }

 #btnNext{
    margin-top: 2%;
 }
 /* .inputContainer{
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
 
 
 }  */
 
 /* button {
    text-align: center;
    margin-top: 10px;
    background-color:#EDFEFF;
    font-size: 20px;
    display: flex;
    justify-content: center; 
 } */
 
 /* button:hover {
    background-color: #CDCDCD;
 } */
 
 
 
 @keyframes phase{
 100%{background-color: #88BBD6}
 75%{background-color: #99D3DF}
 50%{background-color: #89E9E9}
 25%{background-color: #99D3DF}
 0%{background-color: #88BBD6}
 }