p{
   margin: 0;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   justify-content: center;
   background-image:url();
   background-size: cover;
}

h1,
label,
#submitButton {
   font-family: 'Lobster', cursive;
}
h1 {
   font-size: 45px;
   text-align: center;
}

.userContainer {
   background-color: 99D3DF;
}

label {
   font-size: 30px;
}

input {
   font-size: 50px;

}
.userContainer {
   padding: var(--addedPadding);
}
form,
.inputContainer,
.singleInput {
   display: flex;
   flex-direction: column;

}

#submitButton {
   background-color:#f442e5;
   font-size: 100px;

}

#submitButton:hover {
   background-color: #f44141;
}

#submitButton1{
   color: red;
}